<link rel="stylesheet" href="/css/user_sign_in.css">

<div id="sign_in_box">
    <h1>Sign in</h1>
    <div id="box">
<form action="/users/login" method="POST">
    <br>
    <br>
    <input type="email" name="email" placeholder="Email" required><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="submit" value="Sign In" class="submit">
</form>
<p>
    <a href="/users/auth/google">Google SIGN-In/SIGN-Up</a>
</p>
</div>
</div>
