<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <%-include('_header');%>

        <h1>Codial/ Profile page</h1>
        <%-include('_footer');%>
    </body>
</html>