#layout-footer
{
    background-color: white;
    padding: 8px;
    font-size: larger;
    position: absolute;
    bottom: 0;
    width: 100%;
    p{
        color:rgb(116, 111, 111);
        
    }
}